@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@* <h1>@ViewData["Title"]</h1> *@
@* <p> *@
@*     Please check your email to reset your password. *@
@* </p> *@
<div class="container-fluid mt-4">
    <h2 class="mb-3 text-primary">
        <i class="bi bi-key-fill me-2"></i>@ViewData["Title"]
    </h2>
    <hr />
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
            We’ll keep you informed about any updates or changes to the system. Thanks for Registering!
        </div>
    </div>
</div>