@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="container-fluid mt-4">
    <h2 class="mb-3 text-primary">
        <i class="bi bi-envelope-check-fill me-2"></i>@ViewData["Title"]
    </h2>
    <hr />

    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
            We’ll keep you informed about any updates or changes to the system. Thanks for Registering!
        </div>
    </div>
</div>

@* <h1>@ViewData["Title"]</h1> *@
@* <h2>Enter your email.</h2> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form method="post"> *@
@*             <div asp-validation-summary="All" class="text-danger" role="alert"></div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" /> *@
@*                 <label asp-for="Input.Email" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*             </div> *@
@*             <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button> *@
@*         </form> *@
@*     </div> *@
@* </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
