@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
	ViewData["Title"] = "Roles";
}


@* <form method="post" asp-action="Create" asp-controller="Roles"> *@
@* 	<div class="input-group"> *@
@* 		<input name="identityRole" class="form-control w-25"> *@
@* 		<span class="input-group-btn"> *@
@* 			<button class="btn btn-primary">Add New Role</button> *@
@* 		</span> *@
@* 	</div> *@
@* </form> *@

<div class="row row-cols-1 row-cols-lg-2">
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
            <h4 class="mb-3">Roles</h4>
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>

                            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <a asp-controller="UserRoles" asp-action="Index" class="btn btn-outline-primary px-4 py-2 shadow-sm">
                    <i class="bi bi-arrow-left"></i> Manage User Roles
                </a>
            </div>
        </div>
    </div>
</div>